{% extends 'base.html' %}
{% load static %}
{% block title %}checkout{% endblock title %}
{% block body %}
<div class="container">
 <div class="row mt-5">
  <div class="col-sm-6">
    <h4>Order Summary</h4>
    <hr>
    {% for items in cart_items %}
      <div class="card mb-2">
        <div class="card-body">
          <h5>Product:{{items.product.title}}</h5>
          <h6>Brand:{{items.product.brand}}</h6>
          <p>Quantity: {{items.quantity}}</p>
          <p class="fw-bold">Price:{{items.product.discount_price}}</p>
        </div>
      </div>
      {% endfor %}
      <p class="fw-bold">Total cost + 70.Rs={{totalamount}} wii be paid</p>
      <h4 >Select Pyament Option</h4>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        <label class="form-check-label" for="flexRadioDefault1">
          Net Banking/credit and debit card (not available)
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
        <label class="form-check-label" for="flexRadioDefault2">BHIM and UPI based (not available)
   
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
        <label class="form-check-label" for="flexRadioDefault2">COD(Cash On Delivery)
   
        </label>
      </div>
     
     
    <small>Term and Condition: please take care yourself while using online shoping</small>
  </div>
  <div class="col-sm-4 offset-sm-1">
    <h4>Select Shipping Address</h4>
    <hr>
    <form action="/paymentdone/">
      
        {%for ad in add%}
      <div class="card">
        <div class="card-body">
        <h5>{{ad.name}}</h5>
        <p>{{ad.locality}},{{ad.city}},{{ad.state}},{{ad.zipcode}}</p>
        </div>
      </div>
        <div class="form-check mt-2 mb-5">
          <input class="form-check-input" type="radio" name="custid" id="custadd{{forloop.counter}}" value="{{ad.id}}">
          <label class="form-check-label fw-bold" for="">
            Address: {{forloop.counter}} </label>
        </div>
        {% endfor %}
        <div class="text-end">
          <button type="submit" class="btn btn-warning mt-3 px-5 fw-bold">Continue</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock body %}